In [2]:
mysql://stu2101213030:stu2101213030@162.105.146.37:43306

In [3]:
show databases;

,Database
0,dataset
1,information_schema
2,stu2101213030

In [4]:
use dataset;

In [5]:
show tables;

,Tables_in_dataset
0,SurnameOrigin
1,TheWorldHappinessReport2015
2,TheWorldHappinessReport2016
3,TheWorldHappinessReport2017
4,TheWorldHappinessReport2018
5,TheWorldHappinessReport2019
6,itemscore
7,stock
8,supermarketTrans
9,titanic_gender_submission
10,titanic_test
11,titanic_train
12,xzqh

In [6]:
select * from TheWorldHappinessReport2015 limit 10;

,id,region,_rank,happiness,gdp_per_capita,healthy_life_expectancy,freedom_to_life_choise,corruption_perceptions,generosity,year
0,0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015
5,5,Finland,6,7.406,1.29025,0.88911,0.64169,0.41372,0.23351,2015
6,6,Netherlands,7,7.378,1.32944,0.89284,0.61576,0.31814,0.47610,2015
7,7,Sweden,8,7.364,1.33171,0.91087,0.65980,0.43844,0.36262,2015
8,8,New Zealand,9,7.286,1.25018,0.90837,0.63938,0.42922,0.47501,2015
9,9,Australia,10,7.284,1.33358,0.93156,0.65124,0.35637,0.43562,2015