In [3]:
import pymysql

#这里需要将(user,password,db)中的“2101213030”替换成自己的学号,否则连的不是自己的数据库
conn1 = pymysql.connect(host='162.105.146.37',user='stu2101213030', password='stu2101213030', port=43306,db="stu2101213030")
cursor1 = conn1.cursor()
conn2 = pymysql.connect(host='162.105.146.37',user='stu2101213030', password='stu2101213030', port=43306,db="stu2101213030")
cursor2 = conn2.cursor()

In [4]:
cursor1.execute("SET SESSION TRANSACTION ISOLATION LEVEL READ COMMITTED;")
cursor2.execute("SET SESSION TRANSACTION ISOLATION LEVEL READ COMMITTED;")
# important!
conn1.commit()
conn2.commit()
cursor1.execute("SELECT @@transaction_isolation;")
cursor2.execute("SELECT @@transaction_isolation;")
print(cursor1.fetchall())
print(cursor2.fetchall())

(('READ-COMMITTED',),)
(('READ-COMMITTED',),)

In [5]:
cursor2.execute("select count(*) from user_info;")
print(cursor2.fetchall())

((39,),)

In [6]:
cursor1.execute("INSERT INTO `user_info`(`user_name`) VALUES ('张三'),('李四'),('王五');")

3

In [7]:
cursor2.execute("select count(*) from user_info;")
print(cursor2.fetchall())

((39,),)

In [8]:
conn1.commit()

In [9]:
cursor2.execute("select count(*) from user_info;")
print(cursor2.fetchall())

((42,),)

In [10]:
cursor1.execute("SET SESSION TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;")
cursor2.execute("SET SESSION TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;")
# important!
conn1.commit()
conn2.commit()
cursor1.execute("SELECT @@transaction_isolation;")
cursor2.execute("SELECT @@transaction_isolation;")
print(cursor1.fetchall())
print(cursor2.fetchall())

(('READ-UNCOMMITTED',),)
(('READ-UNCOMMITTED',),)

In [11]:
cursor2.execute("select count(*) from user_info;")
print(cursor2.fetchall())

((42,),)

In [12]:
cursor1.execute("INSERT INTO `user_info`(`user_name`) VALUES ('张三'),('李四'),('王五');")

3

In [13]:
cursor2.execute("select count(*) from user_info;")
print(cursor2.fetchall())

((45,),)

In [14]:
conn1.rollback()

In [15]:
cursor2.execute("select count(*) from user_info;")
print(cursor2.fetchall())

((42,),)